@import './base';

.products_wrapper {
    .upper {

        @media #{$md} {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
        }

        .bc_rs {
            ul.breadcrumbs{
                display: flex;
                li{
                    margin: 0 10px;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: '/';
                        color: #B6B4BA;
                        left: -8px;
                        top: 0;
                    }

                    &:first-child {
                        margin-left: 0px;
                        &::before{
                            display: none;
                        }
                    }

                    &:last-child {
                        &::before {
                            color: #3F3F3F;
                        }
                        a {
                            color: #3F3F3F;
                        }
                    }

                    margin: 0 5px;

                    a{
                        color: #B6B4BA;
                    }
                }
            }
            .results{
                margin-top: 22px;
                font-size: 16px;
                font-weight: 300;
                strong{
                    font-weight: 600;
                }
            }
        }
        .sort_by {

            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            @media #{$md} {
                margin-top: 0px;
            }

            label{
                margin-right: 10px;
                color: #3F3F3F;
            }
            .sort_by_Box{

                position: relative;

                @media #{$md} {
                    margin-top: -8px;
                }

                .selected_sort{
                    background: #F8F8F8;
                    border: 1px solid #E9E9E9;
                    border-radius: 5px;
                    width: 180px;
                    height: 37px;
                    line-height: 37px;
                    display: flex;
                    padding: 0px 15px;
                    justify-content: space-between;
                    cursor: pointer;

                    @media #{$md} {
                        width: 225px;
                        padding: 0px 31px;
                    }

                    span {

                    }

                    .drop_arrow{
                        img {
                            width: 14px;
                            height: 9px;
                        }
                    }
                }
                .sort_by_dropdown{
                    padding: 12px;
                    background-color: #F8F8F8;
                    border: 1px solid #E9E9E9;
                    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    width: 180px;
                    margin-top: 6px;

                    transition: all .5s ease-in-out;

                    position: absolute;
                    z-index: 0;
                    display: none;
                    opacity: 0;

                    @media #{$md} {
                        width: 225px;
                    }

                    &.clicked{
                        display: block;
                        opacity: 1;
                        z-index: 5;
                    }
                        
                    ul {
                        li {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 35px;
                            color: #3F3F3F;
                            padding: 3px 7px;
                            cursor: pointer;

                            &.active {
                                background-color: #DEF2E1;
                            }
                        }
                    }
                }
            }

            .aside_trigger{
                height: 37px;
                line-height: 37px;
                border: 1px solid #E2E2E2;
                border-radius: 5px;
                margin-left: 10px;
                
                a {
                    padding: 0 20px;
                    display: block;
                    line-height: 45px;
                    
                    img {

                    }
                }

                @media #{$md}{
                    display: none;
                }
            }
        }

    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39px;

    .product{
        width: 48%;
        margin-bottom: 37px;
        background: #FFFFFF;
        border: 1px solid #E9E9E9;
        border-radius: 5px;
        padding: 14px;

        @media #{$md} {
            width: 24%;
        }

        .top_part{
            position: relative;
            .img_box{
                padding: 20px 10px;
                a {
                    img {
                        max-width: 100%;
                    }
                }
            }
            .promotion_percentage{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 31px;
                width: 58px;
                text-align: center;
                line-height: 31px;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                border-radius: 0px 5px 0 5px;

                &.silver{
                    background-color: #AEB3BE;
                }
                &.bronze{
                    background-color: #B89784;
                }
                &.gold{
                    background-color: #E0BF62;
                }
            }
            ul.icons{
                position: absolute;
                right: 0px;
                top: 0px;
                li {
                    margin-bottom: 16px;
                    a {
                        img {
                            width: 23px;
                        }
                    }
                }
            }
        }
        .middle_part {
            .product_title{
                height: 98px;
                a {
                    font-size: 16px;
                    line-height: 20px;
                    display: block;
                    color: #3F3F3F;
                    font-weight: 350;

                    &:hover {

                    }
                }
            }
            .price_rate {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: nowrap;

                .price {
                    .main_price{
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 20px;
                        color: #37A446;
                        display: block;
                        margin-bottom: 5px;
                    }
                    .save_price{
                        color: #3F3F3F;
                        font-size: 13px;
                    }
                }
                .rate{
                    .rate_score {
                        img {
                            width: 12px;
                        }
                        .rate_score_num{
                            font-size: 13px;
                            font-weight: 500;
                            color: #EEC337;
                        }
                    }
                    .rate_total{
                        color: #3F3F3F;
                        font-weight: 400;
                        font-size: 11px;
                    }
                }
            }
        }
        a.add_to_cart{
            color: #686868;
            background: #FFFFFF;
            border: 1.8px solid #A0D7A8;
            border-radius: 5px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            display: block;
            text-decoration: none;
            margin-top: 25px;
            margin-bottom: 14px;

            &:hover{

            }
        }
    }
}

.paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    li {
        background: #FFFFFF;
        margin: 0 10px;
        a {
            border: 1px solid #DFE3E8;
            border-radius: 4px;
            color: #212B36;
            display: block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;

            &.active {
                background-color: #919EAB;
            }

            &:hover{

            }
            img {

            }
        }
    }
}