@import './base';

a, a:hover {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    @media #{$sm} {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 720px;
    }

    @media #{$md} {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 960px;
    }

    @media #{$lg} {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1140px;
    }

    @media #{$xl} {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1320px;
    }
}

body {
    font-family: $main_font;
}
a{
    color: blueviolet;
}
img {
    max-width: 100%
}

@import './base';
@import './header';
@import './aside';
@import './products';

.page_banner {

    .bg-md{
        display: none;
    }
    .bg-sm{
        display: block;
    }
    
    @media #{$md} {
        .bg-md{
            display: block;
        }
    
        .bg-sm{
            display: none;
        }
    }

    position: relative;

    img {

    }
    .page_banner_title {

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;

        @media #{$md} {
            justify-content: space-around;
            flex-direction: row;
        }
        
        @media #{$md} {
            max-width: 60%;
        }

        .page_title {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
    
            @media #{$md} {
                justify-content: space-around;
                flex-direction: row;
            }
            
            h4 {
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: #DFDFDF;
                text-shadow: 0px 4px 29px #000000;
                margin-bottom: 10px;
    
                @media #{$md} {
                    font-size: 35px;
                    margin-bottom: 0px;
                }
            }
            p {
                @media #{$md} {
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 200;
                }
                color: #FFF;
                font-size: 14px;
                line-height: 21px;
                font-weight: 300;
            }
        }
    }
}

.products_banner {
    position: relative;
    margin-top: 30px;

    @media #{$md} {
        margin-top: 50px;
    }

    img {}

    .product_title {

        position: absolute;
        left: 20px;
        top: 10px;

        @media #{$md} {
            left: 40px;
            top: 20px;
        }

        h4{
            color: #FFF;
            font-size: 13.4548px;

            @media #{$md} {
                font-weight: 400;
                font-size: 54.2228px;
            }
        }
        h3{
            color: #1BC732;
            font-weight: 700;
            font-size: 18.6954px;

            @media #{$md} {
                font-weight: 700;
                font-size: 75.3425px;
            }
        }

    }
}

.content_wrapper {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}